body {
  padding: 40px;
}
h2 {
  margin-bottom: 50px;
}

input.user_input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px; 
  width:150px; 
  height:18px; 
  text-align: left; 
  color:#000000;
}

input.user_input:focus {
  box-shadow: 0 4px 2px -2px #666;
  outline-width: 0;
}

.question{
	font-size: 14px; 
	font-weight: bold; 
	margin: 5px 0; 
	color: #333333;
}